<p id="notice"><%= notice %></p>

<h1>Break Fasts</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Cost</th>
      <th>Restora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @break_fasts.each do |break_fast| %>
      <tr>
        <td><%= break_fast.item %></td>
        <td><%= break_fast.cost %></td>
        <td><%= break_fast.restora_id %></td>
        <td><%= link_to 'Show', break_fast %></td>
        <td><%= link_to 'Edit', edit_break_fast_path(break_fast) %></td>
        <td><%= link_to 'Destroy', break_fast, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Break Fast', new_break_fast_path %>
